label{font-weight: bold;}
form{
    width:500px;
}
.card{
    height: 180px;
    width:350px;
    margin-left: 500px;
    margin-top: 250px;
}
button{
    margin-left: 15px;
    margin-top: 15px;
}
form{
    margin-top: 80px;
}
