<div class="container">
    <div class="table-container">
        <table class="table">
           
            <thead>
                <tr class="header-row">
                    <th class="header-cell"></th>
                    <th class="header-cell">Silver</th>
                    <th class="header-cell">Gold</th>
                    <th class="header-cell">Platinum</th>
                   
                </tr>
            </thead>
         
            <tbody>
                
                <tr class="data-row odd-row">
                    <td class="data-cell">Reservation via FFP Hotline</td>
                    <td class="data-cell">-</td>
                    <td class="data-cell">10kg</td>
                    <td class="data-cell">15kg</td>
                 
                </tr>

                <tr class="data-row odd-row">
                    <td class="data-cell">Bagage Facility</td>
                    <td class="data-cell">-</td>
                    <td class="data-cell">10kg</td>
                    <td class="data-cell">15kg</td>
                </tr>

                <tr class="data-row odd-row">
                    <td class="data-cell">VIP Car Service</td>
                    <td class="data-cell">-</td>
                    <td class="data-cell">yes</td>
                    <td class="data-cell">yse</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

